:root {
	--dark: #222;
	--light: #eee;
	--accent-h: 206;
	--accent-s: 100%;
	--accent-300: hsl(var(--accent-h), var(--accent-s), 30%);
	--accent-400: hsl(var(--accent-h), var(--accent-s), 40%);
	--accent-500: hsl(var(--accent-h), var(--accent-s), 50%);
	--accent-600: hsl(var(--accent-h), var(--accent-s), 60%);
	--accent-700: hsl(var(--accent-h), var(--accent-s), 70%);
}

img {
	width: 15em;
}
